<header class="site-header navbar navbar-expand-lg {% if site.darkmode %}navbar-dark bg-dark{% else %}navbar-light bg-light{% endif %}">
  <div class="container">
    <a class="navbar-brand" href="{{ '/' | absolute_url }}">{{ site.title | default: site.name }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        {% for nav_item in site.navbar-links %}
          {% assign label = nav_item | keys | first %}
          {% assign path = nav_item[label] %}
          {% assign current_path = page.url | default: page.path | prepend: '/' %}
          <li class="nav-item">
            <a class="nav-link{% if current_path == path or page.url == path or page.url == path | relative_url %} active{% endif %}" href="{{ path | relative_url }}"{% if current_path == path or page.url == path or page.url == path | relative_url %} aria-current="page"{% endif %}>{{ label }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</header>
